<?xml version="1.0"?>
<!--
/**
 * Craftsman Test. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CraftsmanTest\RelatedProduct\Api\RelatedProductManagerInterface" type="CraftsmanTest\RelatedProduct\Model\RelatedProductManager" />
    <preference for="CraftsmanTest\RelatedProduct\Api\Data\DependencyInformationInterface" type="CraftsmanTest\RelatedProduct\Model\DependencyInformation" />
</config>
